@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



/************* LEVELS CSS ****************/
.level-window{
  height: max-content;
  width:600px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.element-preview>p{
  flex: 1;
  width: 15%;
  font-size: large;}
.element-preview>div{
width: 85%;
  }
.element-preview{
  display: flex;
  margin: 30px 0;
}
.level-container{
  display: flex;
  }
.level-container>button{
  height: max-content;
  margin: auto 0px;
  border: none;
  background-color: transparent;
  font-weight: bolder;
  font-size: 24pt;
  cursor: pointer;
}
.elements-container{
  width: 100%;
  padding: 0 30px;
}
